:root {
    --general-bg: #fff8f6;
    --accent-text: #000;
    --general-text-1: #454545;
    --general-text-2: #828181;
    --accent-color: #f6623e;
    --transition: all .4s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.body {
    font-family: "Jost", "Arial", sans-serif;
    position: relative;
    background: #fff;
}

.body--fixed {
    overflow: hidden;
}

#preloader {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    inset: 0;
    overflow: hidden;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader__letters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.preloader__letter {
    font-weight: 700;
    font-size: 200px;
    line-height: 0.6;
    color: #fff;
    margin-top: 20px;
}

.preloader__letter:nth-child(1) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .7s cubic-bezier(0.2, 0.6, 0, 1);
}

.hide-preloader .preloader__letter:nth-child(1) {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.preloader__letter:nth-child(2) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .7s .05s cubic-bezier(0.2, 0.6, 0, 1);
}

.hide-preloader .preloader__letter:nth-child(2) {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.preloader__letter:nth-child(3) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .7s .1s cubic-bezier(0.2, 0.6, 0, 1);
}

.hide-preloader .preloader__letter:nth-child(3) {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.preloader__letter:nth-child(4) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .7s .15s cubic-bezier(0.2, 0.6, 0, 1);
}

.hide-preloader .preloader__letter:nth-child(4) {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.preloader__letter:nth-child(5) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .7s .2s cubic-bezier(0.2, 0.6, 0, 1);
}

.hide-preloader .preloader__letter:nth-child(5) {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.preloader__letter:nth-child(6) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .7s .25s cubic-bezier(0.2, 0.6, 0, 1);
}

.hide-preloader .preloader__letter:nth-child(6) {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

.preloader__letter:nth-child(7) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all .7s .3s cubic-bezier(0.2, 0.6, 0, 1);
}

.hide-preloader .preloader__letter:nth-child(7) {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}

#preloader.hide-preloader {
    animation: hidePreloader 0.5s 2s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.body--opened-menu {
    overflow: hidden;
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000071;
    z-index: 10;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.modal--opened {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    max-width: 700px;
    width: 100%;
    height: 600px;
    background: #fff;
    border-radius: 50px;
    padding: 0 60px 60px;
    position: relative;
    z-index: 1;
}

.modal__window::after {
    content: '';
    position: absolute;
    max-width: 650px;
    width: 100%;
    height: 550px;
    border-radius: 50px;
    border: 10px solid var(--general-bg);
    background: transparent;
    inset: 3.8%;
    z-index: -1;
}

.modal__cancel {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 11;
    position: absolute;
    top: 38px;
    right: 50px;
}

.modal__cancel span {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-color);
    transform: rotate(30deg);
}

.modal__cancel span::after {
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-color);
    transform: rotate(-60deg);
}

.modal__img {
    position: absolute;
    left: -19px;
    top: -29px;
    max-width: 150px;
    width: 100%;
}

.modal__img img {
    width: 100%;
}

.modal__title {
    margin-top: 130px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    color: var(--accent-text);
    margin-bottom: 30px;
}

.modal__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.45;
    color: var(--general-text-1);
    margin-bottom: 30px;
}

.modal__form {
    margin-top: 20px;
    margin-bottom: 40px;
}

.modal__form-label {
    display: block;
}


.modal__input {
    display: block;
    width: 100%;
    padding: 19px 28px;
    background: transparent;
    border: 1px solid var(--accent-text);
    border-radius: 100px;
    margin-bottom: 10px;
    font-size: 24px;
    transition: var(--transition);
}

.modal__button {
    max-width: 153px;
    height: 47px;
    padding: 14px 30px;
    background: var(--accent-color);
    border: 1px solid var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.modal__button:hover {
    background: #fff;
    color: var(--accent-text);
    border: 1px solid var(--accent-color)
}

/* ================= */

.header {
    width: 100%;
    height: 98px;
    font-weight: 400;
    font-size: 18px;
    color: var(--accent-text);
    background: #fff;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.header__logo {
    margin: 0 10px;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: end;
    gap: 70px;
    margin: 0 15px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--accent-text);
}

.nav__link {
    transition: var(--transition);
}

.nav__link:hover {
    color: var(--accent-color);
}

.user__list {
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    gap: 30px;
}

.user__list:last-child {
    position: relative;
}

.user__list:last-child::after {
    content: '0';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    right: -7px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 10px;
    line-height: 1;
}

.user__link path {
    transition: var(--transition);
}

.user__link:hover path {
    fill: var(--accent-color);
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon:hover span,
.burger-icon:hover span::before,
.burger-icon:hover span::after {
    background: var(--accent-color);
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 100px;
    background: var(--accent-text);
    transition: var(--transition);
}

.burger-icon span::after {
    width: 25px;
}

.burger-icon span {
    position: relative;
}

/* размещение двух дополнительных полосок */
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -6px;
}

.burger-icon span::after {
    bottom: -6px;
    right: 0px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    background: var(--accent-color);
    top: 0px;
    transform: rotate(30deg);
}

.body--opened-menu .burger-icon span::after {
    background: var(--accent-color);
    bottom: 0px;
    width: 35px;
    transform: rotate(-30deg);
}

/* ========================== */

.hero {
    background: var(--general-bg);
    border-radius: 0 0 200px 200px;
    padding: 208px 175px 208px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__subtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.61538;
    color: var(--accent-color);
    margin-bottom: 4px;
}

.hero__title {
    font-weight: 600;
    font-size: 3vw;
    line-height: 1.39394;
    color: var(--accent-text);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 578px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    color: var(--general-text-1);
    margin-bottom: 30px;
}

.hero__button {
    max-width: 153px;
    height: 47px;
    padding: 14px 30px;
    background: var(--accent-color);
    border: 1px solid var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.hero__button:hover {
    background: #fff;
    color: var(--accent-text);
    border: 1px solid var(--accent-color)
}

.hero__img {
    max-width: 885px;
    margin-top: 14px;
    margin-bottom: 13px;
    margin-left: 30px;
}

.hero__img img {
    width: 100%;
}

/* ==================== */

.advantages {
    padding: 0 30px;
    margin-top: 100px;
}

.advantages__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__subtitles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 170px;
}

.subtitles__item {
    font-weight: 600;
    font-size: 28px;
    color: var(--general-text-2);
}

.advantages__title {
    max-width: 540px;
    margin-top: 90px;

    font-weight: 600;
    font-size: 40px;
    line-height: 1.525;
    text-align: center;
    color: var(--accent-text);
}

.advantages__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 97px;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 370px;
    height: 370px;
    background: transparent;
    padding: 10px;
}

.info-item__img {
    border-radius: 20px;
    max-width: 100px;
    height: 100px;
    padding: 19px;
    margin-top: 44px;
    background: var(--general-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item__img img {
    width: 100%;
}

.info-item__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.13333;
    text-align: center;
    color: var(--accent-text);
    margin-top: 33px;
}

.info-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: var(--general-text-2);
    margin-top: 16px;
}

.info__item-accent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 370px;
    height: 370px;
    background: var(--general-bg);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.info-item-accent__img {
    border-radius: 20px;
    max-width: 100px;
    height: 100px;
    padding: 19px;
    margin-top: 44px;
    background: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-item-accent__img img {
    width: 100%;
}

.info-item-accent__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.13333;
    text-align: center;
    color: var(--accent-text);
    margin-top: 33px;
}

.info-item-accent__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: var(--general-text-2);
    margin-top: 16px;
}

/* ================================================= */

.about {
    position: relative;
    z-index: 1;
    margin-top: 400px;
    padding: 0 120px;
}

.about::before {
    content: '';
    border-radius: 0 0 200px 0;
    width: 57%;
    height: 160%;
    background: var(--general-bg);

    position: absolute;
    z-index: -2;
    left: 0;
    bottom: -142px;
}

.about__img {
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: -119px;
    top: -116px;
}

.about__inner {
    display: flex;
    gap: 68px;
    align-items: center;
}

.about__information {
    max-width: 590px;
    display: flex;
    flex-wrap: wrap;
    gap: 75px 73px;
    margin-right: 68px;
}

.about-information__item {
    max-width: 257px;
    background: transparent;
}

.information-item__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.29167;
    color: var(--accent-text);
    margin-bottom: 15px;
}

.information-item__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5625;
    color: var(--general-text-2);
}

.about__content {
    max-width: 952px;
    display: flex;
    align-items: center;
    gap: 71px;
}

.content__img {
    max-width: 509px;
    position: relative;
}

.content__img img {
    width: 100%;
}

.content__title {
    max-width: 410px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.46429;
    color: var(--accent-text);

    position: absolute;
    right: -280px;
    top: -300px;
}

.content__text-button {
    max-width: 380px;
    flex-shrink: 1;
}

.content__text-1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text-2);
    margin-bottom: 30px;
}

.content__text-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--general-text-2);
    margin-bottom: 88px;
}

.content__button {
    border: 2px solid var(--accent-color);
    max-width: 239px;
    width: 100%;
    height: 56px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5625;
    text-align: center;
    color: var(--accent-text);
    transition: var(--transition);
}

.content__button:hover {
    background: var(--accent-color);
    color: #fff;
}

/* =============================================== */

.product {
    margin-top: 260px;
    border-radius: 0 0 0 200px;
    background-color: var(--general-bg);
    padding: 112px 120px;
}

.product__inner {
    display: flex;
    align-items: center;
    gap: 136px;
}

.product__img {
    max-width: 682px;
    border-radius: 100%;
    background: #fef0e7;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 97px;
}

.product__img img {
    width: 100%;
}

.product__description {
    display: flex;
    flex-direction: column;
}

.description__title {
    max-width: 770px;
    margin-bottom: 33px;

    font-weight: 600;
    font-size: 50px;
    line-height: 1.44;
    letter-spacing: 0.06em;
    color: var(--accent-text);
}

.description__price {
    margin-bottom: 33px;
    display: flex;
    gap: 23px;
}

.description__price-new {
    font-weight: 600;
    font-size: 34px;
    line-height: 0.58824;
    color: var(--accent-color);
}

.description__price-old {
    font-weight: 500;
    font-size: 24px;
    line-height: 0.83333;
    text-decoration: line-through;
    color: var(--general-text-2);
}

.description__text {
    max-width: 690px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    color: var(--general-text-1);
    margin-bottom: 45px;
}

.description__button {
    max-width: 156px;
    height: 56px;
    padding: 14px 30px;
    background: #fff;
    border: 1px solid var(--accent-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    color: var(--accent-text);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.description__button:hover {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #fff;
}

/* ===================== */

.goods {
    margin-top: 100px;
    padding-left: 109px;
    padding-right: 25px;
}

.goods__inner {
    display: flex;
    align-items: center;
}

.products__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 5.125;
    letter-spacing: 0.06em;
    color: var(--accent-color);
}

.products__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.13043;
    letter-spacing: 0.02em;
    color: var(--accent-text);
    margin-bottom: 35px;
}

.products__text {
    max-width: 807px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.88889;
    letter-spacing: 0.06em;
    color: var(--general-text-2);
    margin-bottom: 80px;
}

.products-slider__container {
    position: relative;
}

.products__prev,
.products__next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
    transition: var(--transition);
}

.products__prev:hover,
.products__next:hover {
    background-color: #fff;
}

.products__prev path,
.products__next path {
    fill: #fff;
    transition: var(--transition);
}

.products__prev:hover path,
.products__next:hover path {
    fill: var(--accent-color);
}

.products__prev {
    z-index: 10;
    top: 91px;
    left: -14px;
    padding: 5px 3px 0px 0px;
}

.products__next {
    z-index: 10;
    top: 91px;
    right: -14px;
    padding: 5px 3px 0px 5px;
}

.swiper-button-disabled.products__prev,
.swiper-button-disabled.products__next {
    background: #f6633e55;
    cursor: auto;
}

.swiper-button-disabled.products__prev path,
.swiper-button-disabled.products__next path {
    fill: #e1d9e1;
}

.swiper-button-disabled.products__prev:HOVER,
.swiper-button-disabled.products__next:HOVER {
    background: #f6633e55;
}

.swiper-button-disabled.products__prev:HOVER path,
.swiper-button-disabled.products__next:HOVER path {
    fill: #e1d9e1;
}

.products__slider {
    max-width: 900px;
    cursor: grab;
}

.products-slide__img {
    border-radius: 10px;
    margin-bottom: 13px;
}

.products-slide__img img {
    width: 100%;
}

.products-slide__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.06em;
    color: var(--accent-text);
    margin-bottom: 11px;
}

.products-slide__price-new {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.33333;
    color: var(--accent-color);
}

.products-slide__price-old {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857;
    text-decoration: line-through;
    color: var(--general-text-2);
}


.goods__img {
    max-width: 884px;
}

.goods__img img {
    width: 100%;
}

/* ============================ */

.what-is {
    margin: 100px 0;
    border-radius: 0 0 0 200px;
    background-color: var(--general-bg);
}

.what-is__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-is__title {
    margin-top: 94px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.05;
    text-align: center;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.what-is__text {
    max-width: 647px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: var(--general-text-1);
    margin-bottom: 84px;
}

.what-is__img {
    display: none;
    visibility: hidden;
}

.what-is__composition {
    max-width: 1400px;
    width: 100%;
    height: 693px;
    margin-bottom: 100px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;

    background-image: url(../img/content/bottle1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.composition__text-1 {
    max-width: 304px;
    margin: 90px 0px 0px 115px;
}

.composition__text-2 {
    max-width: 224px;
    margin: 30px 0px 0px 372px;
}

.composition__text-3 {
    max-width: 260px;
    margin: 93px 0px 0px 82px;
}

.composition__text-4 {
    max-width: 287px;
    margin: 44px 0px 0px 396px;
}

.composition__text-5 {
    max-width: 260px;
    margin: 81px 0px 0px 48px;
}

.composition__text-6 {
    max-width: 287px;
    margin: 88px 0px 0px 368px;
}

.composition__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44444;
    color: var(--accent-color);
}

.composition__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.78571;
    color: var(--accent-text);
}

/* ======================== */

.testimonials {
    height: 614px;
    margin-top: 100px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.testimonials::before {
    content: '';
    z-index: -1;
    width: 1261px;
    height: 500px;
    background: var(--general-bg);

    position: absolute;
    left: 50%;
    top: 104px;
    transform: translateX(-50%);
}

.testimonials__inner {
    max-width: 1873px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title {
    max-width: 630px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.525;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-text);
    margin-bottom: 150px;
}

.testimonials-slider-container {
    max-width: 100%;
    position: relative;
}

.testimonials__slider {
    max-width: 100%;
    height: 290px;
    cursor: grab;
}

.testimonials__slide {
    border-radius: 20px;
    max-width: 591px;
    height: 284px;
    margin-left: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}

.slide__top {
    max-width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 27px 25px 25px 25px;
}

.slide__user {
    display: flex;
    gap: 20px;
}

.slide__user-img {
    width: 80px;
}

.slide__user-info {
    margin-top: 15px;
}

.slide__user-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 0.05em;
    color: var(--accent-text);
    margin-bottom: 9px;
}

.slide__user-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--accent-color);
}

.slide__bottom {
    max-width: 543px;
    margin: 0px 24px 40px 24px;
}

.slide__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 2.05556;
    letter-spacing: 0.06em;
    color: var(--accent-text);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 66px;
    position: absolute;
    left: 900px;
    bottom: -33px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: transparent;
    border: 2px solid var(--general-text-2);
}

.swiper-pagination-bullet-active {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
}

/* =================================== */

.news {
    margin-top: 100px;
}

.news__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.news__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.05;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.news__text {
    max-width: 654px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: var(--general-text-1);
    margin-bottom: 60px;
}

.news__cards {
    max-width: 1261px;
    display: flex;
    gap: 75px;
}

.news__card-wrapper {
    max-width: 393px;
    display: flex;
    position: relative;
}

.news__card {
    max-width: 362px;
    display: flex;
    flex-direction: column;
}

.news__card-date {
    height: 25px;
    width: 120px;
    transform: rotate(90deg);
    position: absolute;
    top: 50px;
    right: -75px;
}

.news__card-date span {
    font-weight: 400;
    font-size: 12px;
    line-height: 2.08333;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.news__card-img {
    max-width: 362px;
    margin-bottom: 18px;
}

.news__card-img img {
    width: 100%;
}

.news__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44444;
    color: var(--accent-text);
    margin-bottom: 18px;
}

.news__card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: var(--general-text-2);
    margin-bottom: 10px;
}

.news__card-link {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: var(--transition);
}

.news__card-link:hover {
    gap: 15px;
}

.news__card-link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5625;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-text);
    transition: var(--transition);
}

.news__card-link:hover .news__card-link-text {
    color: var(--accent-color);
}

.news__card-link-arrow {
    transition: var(--transition);
    align-self: center;
}

.news__card-link:hover .news__card-link-arrow path {
    fill: var(--accent-color);
}

/* ======================== */

.line {
    padding: 122px 0px 97px 0px;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 7px;
    z-index: -1;
    width: 100%;
    height: 53%;
    background-color: var(--general-bg);
}

.line__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin: 0 20px;
}

.line__slider {
    max-width: 1678px;
    width: 100%;
    height: 373px;
}

.line__slider .swiper-wrapper {
    transition-timing-function: linear;
}

.line__slide {
    width: 302px;
    min-width: 302px;
}

.line__slide--bottom {
    margin-top: 65px;
}

.line-slide__img {
    width: 100%;
}

.line-slide__img img {
    width: 100%;
}

.line__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 0.6;
    color: #eebdae;
    margin-top: 20px;
}

.line__link {
    transition: var(--transition);
}

.line__link:hover {
    color: var(--accent-color);
}

/* ======================== */

.contact {
    margin-top: 77px;
    margin: 77px 15px 0 15px;
}

.contact__inner {
    display: flex;
    justify-content: space-between;
}

.contact__col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__logo {
    max-width: 138px;
    margin-bottom: 10px;
}

.contact__logo img {
    width: 100%;
}

.col-2 {
    max-width: 570px;
    width: 100%;
}

.contact__text-1 {
    max-width: 326px;
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--general-text-1);
}

.contact__title-1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 1;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.contact__text-2 {
    max-width: 348px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--general-text-1);
    margin-bottom: 32px;
}

.contact__subscribe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.contact__input {
    font-weight: 400;
    font-size: 16px;
    color: var(--accent-text);
}

.contact__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: var(--accent-text);
}

.contact__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    color: var(--accent-color);
    transition: var(--transition);
}

.contact__button:hover {
    color: var(--accent-text);
}

.contact__line {
    width: 100%;
    height: 2px;
    background: var(--accent-text);
}

.col-3 {
    max-width: 326px;
    width: 100%;
    align-items: center;
}

.contact__title-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    margin-bottom: 13px;
    margin-right: 30px;
}

.contact__list {
    margin-bottom: 5px;
}

.contact__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.0625;
    color: #454545;
}

.contact__link {
    padding: 3px 0;
    transition: var(--transition);
}

.contact__link:hover {
    color: var(--accent-color);
}

/* ===================== */

.footer {
    margin: 40px 15px 20px 15px;
}

.footer__line {
    background: var(--general-text-2);
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socials {
    display: flex;
    max-width: 420px;
    width: 100%;
    gap: 10px;
}

.socials__link {
    padding: 10px;
}

.socials__item path {
    transition: var(--transition);
}

.socials__item:hover path {
    fill: var(--accent-color);
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: var(--accent-text);
}

.footer__text span {
    color: var(--accent-color);
}

.footer__pay {
    max-width: 420px;
}

.footer__pay img {
    width: 100%;
}

/* ===================== */
/* ===================== */
/* ===================== */

@media (max-width: 1960px) {

    .testimonials {
        height: 650px;
    }

    .testimonials::before {
        top: 148px;
    }

    .testimonials__slider {
        max-width: 1580px;
        height: 380px;
    }

    .testimonials__slide {
        max-width: 500px;
        height: 370px;
    }

    .slide__bottom {
        max-width: 300px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: 750px;
    }
}

@media (max-width: 1800px) {
    .about::before {
        height: 150%;
        width: 975px;
    }

    .about__inner {
        justify-content: center;
    }

    .about__information {
        max-width: 470px;
        gap: 40px 40px;
        margin-right: 40px;
        padding: 0 15px;
    }

    .about-information__item {
        max-width: 200px;
    }

    .about__content {
        gap: 50px;
    }

    .content__title {
        font-size: 50px;
        right: -295px;
        top: -264px;
    }
}

@media (max-width: 1700px) {

    .about::before {
        height: 165%;
        width: 901px;
    }

    .about__inner {
        justify-content: center;
    }

    .about__information {
        max-width: 470px;
        gap: 40px 40px;
        margin-right: 40px;
        padding: 0 15px;
    }

    .about-information__item {
        max-width: 200px;
    }

    .about__content {
        gap: 50px;
    }
}

@media (max-width: 1600px) {
    .hero {
        padding: 100px 100px 100px;
    }

    /* ================ */

    .about {
        padding: 0 15px;
    }

    .about::before {
        height: 150%;
        width: 901px;
    }

    /* ================= */

    .product {
        padding: 50px 20px;
    }

    /* ================= */

    .goods {
        padding-left: 40px;
        padding-right: 0px;
    }

    .products__next {
        top: 144px;
        right: -19px;
        padding: 8px 0px 1px 2px;
    }

    .products__prev {
        top: 144px;
        left: -19px;
        padding: 8px 6px 1px 2px;
    }

    .products__prev, .products__next {
        width: 40px;
        height: 40px;
    }

    .goods__img {
        align-self: end;
    }

    /* ===================== */

    .testimonials {
        height: 591px;
    }

    .testimonials::before {
        max-width: 900px;
        height: 420px;
        top: 140px;
    }

    .testimonials__slider {
        max-width: 1300px;
        height: 280px;
    }

    .testimonials__slide {
        max-width: 630px;
        height: 284px;
    }

    .slide__bottom {
        max-width: 600px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 88px;
        left: 611px;
        bottom: -38px;
    }
}

@media (max-width: 1500px) {

    .preloader__letter {
        font-size: 150px;
    }

    /* ======================== */

    .product__inner {
        gap: 80px;
    }

    .description__title {
        font-size: 3vw;
    }

    .description__price {
        flex-direction: column;
    }

    /* =============== */

    .about::before {
        height: 165%;
        width: 818px;
    }

    /* ============== */

    .goods {
        padding: 0 50px;
        margin-top: 0px;
    }

    .goods__inner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .goods__products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products__subtitle {
        font-size: 12px;
        line-height: 3;
        text-align: center;
    }

    .products__title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 15px;
        text-align: center;
    }

    .products__text {
        text-align: center;
        margin-bottom: 35px;
    }

    .products__slider {
        max-width: 1200px;
    }

    .swiper-wrapper {
        max-width: 100%;
    }

    .goods__img {
        align-self: center;
    }

    .products__prev,
    .products__next {
        width: 30px;
        height: 30px;
    }

    .products__prev {
        top: 128px;
        left: -14px;
        padding: 5px 3px 0px 0px;
    }

    .products__next {
        top: 128px;
        right: -14px;
        padding: 5px 3px 0px 5px;
    }

    /* =========== */

    .footer__socials {
        max-width: 170px;
        padding-top: 10px;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
    }

    .footer__text {
        margin-bottom: 15px;
    }

}

@media (max-width: 1400px) {

    .about {
        margin-top: 250px;
    }

    .about::before {
        height: 175%;
        width: 780px;
    }

    .about__inner {
        gap: 20px;
    }

    .content__title {
        font-size: 40px;
        right: -295px;
        top: -154px;
    }

    /* ============ */

    .what-is__title {
        font-size: 35px;
        margin-top: 50px;
    }

    .what-is__text {
        margin-bottom: 0px;
    }

    .what-is__composition {
        max-width: 1000px;
        background-size: 500px;
        margin-bottom: 20px;
    }

    .composition__text-1 {
        margin: 174px 0px 0px 3px;
    }

    .composition__text-2 {
        margin: 134px 0px 0px 255px;
    }


    .composition__text-3 {
        margin: 75px 0px 0px 4px;
    }

    .composition__text-4 {
        margin: 47px 0px 0px 273px;
    }

    .composition__text-5 {
        margin: 0px 0px 0px -14px;
    }

    .composition__text-6 {
        margin: 2px 0px 0px 254px;
    }
}

@media (max-width: 1300px) {

    .about {
        margin-top: 0px;
        border-radius: 0 0 200px 0;
        width: 100%;
        height: auto;
        background: var(--general-bg);
        padding-top: 180px;
    }

    .about::before {
        display: none;
    }

    .about__img {
        display: none;
    }

    .about__inner {
        border-radius: 0 0 200px 0;
        width: 100%;
        height: auto;
        background: var(--general-bg);

        flex-direction: column-reverse;
        align-items: start;
    }

    .about__information {
        max-width: 100%;
        margin-right: 0;
        padding: 0 15px;
        margin-bottom: 50px;
    }

    .about-information__item {
        max-width: 500px;
    }

    .about__content {
        max-width: 100%;
        height: auto;
        gap: 50px;
        margin-bottom: 30px;
    }

    .content__title {
        font-size: 36px;
        right: 100px;
        top: -140px;
    }


    .content__text-1 {
        margin-bottom: 15px;
    }

    .content__text-2 {
        margin-bottom: 30px;
    }

    /* ================ */

    .product {
        margin-top: 50px;
    }

    /* ============== */

    .contact__inner {
        justify-content: center;
        gap: 50px;
    }

    .col-3 {
        max-width: 140px;
    }

    /* =========== */

    .products__slider {
        max-width: 1000px;
    }

    .products__next {
        top: 110px;
    }

    .products__prev {
        top: 110px;
    }

    /* ===================== */

    .testimonials {
        height: 650px;
    }

    .testimonials::before {
        max-width: 793px;
        height: 518px;
        top: 135px;
    }

    .testimonials__slider {
        max-width: 1050px;
        height: 380px;
    }

    .testimonials__slide {
        max-width: 500px;
        height: 370px;
    }

    .slide__bottom {
        max-width: 300px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 88px;
        left: 474px;
    }

}

@media (max-width: 1200px) {
    .nav__list {
        gap: 40px;
    }

    .user__list {
        gap: 20px;
    }

    /* ============== */

    .hero__inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero__title {
        font-size: 40px;
    }

    .hero__button {
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .hero__img {
        margin-left: 0;
    }

    /* ================ */

    .product {
        margin-top: 70px;
    }

    .product__img {
        min-width: 500px;
    }
}

@media (max-width: 1100px) {
    .products__slider {
        max-width: 900px;
    }

    .products__next {
        top: 144px;
        right: -19px;
        padding: 8px 0px 1px 2px;
    }

    .products__prev {
        top: 144px;
        left: -19px;
        padding: 8px 6px 1px 2px;
    }

    .products__prev, .products__next {
        width: 40px;
        height: 40px;
    }

    /* ====================== */

    .what-is {
        padding: 0 20px;
    }

    .what-is__img {
        display: block;
        visibility: visible;
        width: 600px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .what-is__img img {
        width: 100%;
    }

    .what-is__composition {
        height: auto;
        margin-bottom: 100px;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        gap: 50px;
        background-image: none;
    }

    .composition__text-1,
    .composition__text-2,
    .composition__text-3,
    .composition__text-4,
    .composition__text-5,
    .composition__text-6 {
        max-width: none;
        margin: 0;
    }

    /* ========================= */

    .testimonials {
        height: 591px;
    }

    .testimonials::before {
        max-width: 816px;
        height: 378px;
        top: 57px;
    }

    .testimonials__title {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .testimonials__slider {
        max-width: 635px;
        height: 290px;
    }

    .testimonials__slide {
        max-width: 630px;
        height: 284px;
    }

    .slide__bottom {
        max-width: 600px;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 110px;
        left: 262px;
        bottom: -28px;
    }

    /* =========== */

    .news {
        margin-top: -50px;
    }
}

/* бургер */
@media (max-width: 1000px) {

    .preloader__letter {
        font-size: 100px;
    }

    /* ====================== */

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #fff;
        text-align: center;
        max-height: 100%;

        transform: translateX(-100%);
        visibility: hidden;
        transition: all 1s cubic-bezier(0.2, 0.6, 0, 1);

    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 2.5vh 40px;
        margin-top: 250px;
        font-size: 25px;
        line-height: 30px;
    }

    .nav__item:nth-child(1) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(1) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .1s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(2) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(3) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .2s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(3) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(4) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .3s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(4) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(5) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .4s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(5) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .nav__item:nth-child(6) {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s .5s cubic-bezier(0.2, 0.6, 0, 1);
    }

    .body--opened-menu .nav__item:nth-child(6) {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    /* ================ */

    .advantages__info {
        gap: 30px 80px;
    }

    /* ================ */

    .product__inner {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .product__description {
        align-items: center;
        text-align: center;
    }

    .description__title {
        font-size: 28px;
    }

    .description__text {
        margin-bottom: 25px;
    }

    /* ================ */

    .products__slider {
        max-width: 700px;
    }

    .products__prev,
    .products__next {
        width: 30px;
        height: 30px;
    }

    .products__prev {
        top: 118px;
        left: -14px;
        padding: 5px 3px 0px 0px;
    }

    .products__next {
        top: 118px;
        right: -14px;
        padding: 5px 3px 0px 5px;
    }

    /* ============== */

    .line::before {
        bottom: 34px;
        height: 79%;
    }

    .line__inner {
        gap: 50px;
    }

    .line__slider {
        height: 200px;
    }

    .line__slide {
        width: 200px;
        min-width: 200px;
    }

    .line__slide--bottom {
        margin-top: 0px;
    }

    .line__title {
        font-size: 40px;
    }
}

@media (max-width: 900px) {
    .hero {
        border-radius: 0 0 100px 100px;
        padding: 50px 50px 50px;
    }

    .hero__button {
        margin-bottom: 40px;
    }

    /* ============ */

    .advantages__info {
        margin-top: 0px;
    }

    /* ============== */

    .content__title {
        font-size: 30px;
        top: -163px;
    }

    /* =========== */

    .card-2 {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 801px) {
    .modal__window {
        max-width: 500px;
        height: 400;
        border: 20px solid var(--general-bg);
        padding: 0 30px 30px;
    }

    .modal__cancel {
        top: 0px;
        right: 12px;
    }

    .modal__img {
        left: -63px;
        top: -39px;
    }

    .modal__window::after {
        display: none;
    }

    .modal__title {
        font-size: 30px;
    }

    /* ==================== */

    .header {
        height: 50px;
        position: fixed;
        z-index: 11;
        border-bottom: 1px solid var(--accent-text);
    }

    .header__logo {
        display: none;
    }

    .header-inner {
        margin-top: 0px;
    }

    .hero {
        margin-top: 50px;
    }

    /* ==================== */

    .hero__title {
        font-size: 30px;
    }

    /* ==================== */

    .advantages__subtitles {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .subtitles__item {
        font-weight: 500;
        font-size: 4vw;
    }

    .advantages {
        margin-top: 50px;
    }

    .advantages__title {
        font-size: 30px;
        margin-top: 50px;
    }

    .advantages__info {
        gap: 10px;
    }

    /* ====================== */

    .about__inner {
        align-items: center;
    }

    .about__information {
        justify-content: center;
        text-align: center;
    }

    .about__content {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .content__img {
        max-width: 509px;
        width: 100%;
    }

    .content__title {
        font-size: 36px;
        right: 100px;
        top: -132px;
    }

    .content__text-button {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        text-align: center;
        align-items: center;
    }

    /* ================= */

    .contact__inner {
        flex-wrap: wrap;
    }

    /* ================ */

    .products__slider {
        max-width: 500px;
    }

    .products__next {
        top: 160px;
        right: -19px;
        padding: 8px 0px 1px 2px;
    }

    .products__prev {
        top: 160px;
        left: -19px;
        padding: 8px 6px 1px 2px;
    }

    .products__prev, .products__next {
        width: 40px;
        height: 40px;
    }

    /* =============== */

    .what-is {
        margin-top: 70px;
        border-radius: 0 0 0 100px;
    }

    .what-is__img {
        width: 500px;
    }

    .what-is__composition {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 700px) {

    .preloader__letter {
        font-size: 70px;
    }

    /* ============================ */

    .testimonials::before {
        max-width: 806px;
        height: 590px;
        top: -30px;
    }

    .testimonials__slider {
        height: 385px;
        max-width: 360px;
    }

    .testimonials__slide {
        max-width: 350px;
        height: 380px;
    }

    .slide__top {
        max-width: 350px;
    }

    .slide__quotes {
        display: none;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 110px;
        position: absolute;
        left: 122px;
        bottom: -33px;
    }

    /* ================== */

    .news {
        margin-top: 50px;
    }

    .news__title {
        font-size: 30px;
    }

    .news__text {
        margin-bottom: 20px;
    }

    .card-3 {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 600px) {

    .hero {
        padding: 20px 10px;
    }

    /* ================= */

    .advantages {
        margin-top: 50px;
    }

    .advantages__title {
        font-size: 24px;
    }

    /* =================== */

    .about {
        border-radius: 0 0 100px 0;
    }

    .content__title {
        font-size: 33px;
    }

    /* ================== */

    .product {
        margin-top: 60px;
        border-radius: 0 0 0 100px;
        padding: 30px 15px;
    }

    .product__inner {
        gap: 35px;
    }

    .product__img {
        max-width: 400px;
        min-width: 100px;
        background: transparent;
        padding: 0;
    }

    /* ================ */

    .contact {
        margin-top: 50px
    }

    /* ============= */

    .products__slider {
        max-width: 400px;
    }

    .products__prev, .products__next {
        width: 40px;
        height: 40px;
        top: 140px;
    }

    /* ============== */

    .testimonials::before {
        height: 624px;
    }

    .what-is__title {
        font-size: 30px;
        margin-top: 30px;
    }

    .what-is__img {
        width: 400px;
    }

    .what-is__composition {
        gap: 15px;
    }

    /* ================ */

    .line__slider {
        height: 150px;
    }

    .line__slide {
        width: 150px;
        min-width: 150px;
    }
}

@media (max-width: 500px) {

    .preloader__letter {
        font-size: 40px;
    }

    /* =================== */

    .products__slider {
        max-width: 300px;
    }

    .products__prev,
    .products__next {
        width: 30px;
        height: 30px;
    }

    .products__prev {
        top: 105px;
        left: -14px;
        padding: 5px 3px 0px 0px;
    }

    .products__next {
        top: 105px;
        right: -14px;
        padding: 5px 3px 0px 5px;
    }

    /* =========== */

    .testimonials__title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .testimonials::before {
        max-width: 816px;
        height: 606px;
        top: -22px;
    }
}

@media (max-width: 450px) {

    .modal__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .modal__text {
        margin-bottom: 15px;
    }

    .modal__form {
        margin-bottom: 20px;
    }

    /* ================= */

    .hero__button {
        margin-bottom: 20px;
    }

    /* ================= */

    .info-item__img {
        margin-top: 24px;
    }

    .info-item-accent__img {
        margin-top: 24px;
    }

    /* ==================== */

    .about {
        padding-top: 100px;
    }

    .content__title {
        font-size: 22px;
        right: 100px;
        top: -85px;
    }

    /* =========== */

    .what-is {
        margin-top: 50px;
    }

    .what-is__img {
        max-width: 300px;
    }
}